.cakeContainer {
  /* width: 100vw; */
  min-height: 100vh;
  padding: 5rem calc((100vw - 1300px) / 2);
  background: #150f0f;
  color: #fff;
}

.cakeWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100 auto;
}

.cakeCard {
  margin: 20px 2rem;
  line-height: 2;
  width: 300px;
}
.cakeImg {
  height: 200px;
  box-shadow: 5px 5px #7c0b0b;
  width: auto;
}

.cakeHeading {
  font-size: 72px;
  text-align: center;
  margin-bottom: 5rem;
  font-family: "Caveat", sans-serif;
}

.cakeTitle {
  font-weight: 700;
  font-size: 2rem;
}

.propTitle {
  font-family: "Caveat", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.cakeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.cakeDesc {
  margin-bottom: 1rem;
}

.cakePrice {
  margin-bottom: 1rem;
  font-size: 32px;
  margin-top: auto;
}

.cakeBtn {
  font-family: "Caveat", sans-serif;

  font-size: 2rem;
  font-size: 2rem;
  padding: 1rem 4rem;
  border: none;
  background: #7c0b0b;
  color: #fff;
  transition: 0.2 ease-out;
}
.cakeBtn:hover {
  background: #7c0b0b9a;

  transition: 0.2s ease-out;
  cursor: pointer;
}
